// Place all the styles related to the Sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal
}