<div ng-app="app">
  <div ng-controller="golfClubsCtrl" ng-init="setup()">
  	<div ng-repeat="golfclub in golfclubs">
  		<p>{{golfclub.variety}}</p>
  		<p>{{golfclub.number}}</p>
  		<p>{{golfclub.brand}}</p>
  	</div>
  </div>
</div>